<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Edit Todo List</title>
    </head>
    <body>
      <h1>Edit Todo List</h1>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Save Changes</button>
      </form>
    </body>
  </html>
</html>
