<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Delete To-Do List</title>
    </head>
    <body>
      <h1>Delete To-Do List</h1>
      <p>Are you sure you want to delete "{{ todo_list.name }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </body>
  </html>
</html>
